@media (max-width: 768px) {
	.margin-top {
		margin-top: 6rem !important;
	}
	.item-user-box {
		width: 100vw;
	}
	.like {
		margin-right: 5rem !important;
		color: rgb(202, 83, 83);
		opacity: 0.4;
	}
	.input {
		width: 12rem !important;
	}

	.notification {
		position: fixed;
		top: 85vh !important;
		left: 5vw !important;
	}
	.btn-delete {
		left: 90% !important;
	}

	.img-centering {
		display: block !important;
		margin: auto !important;
	}
	.img-app {
		height: 300px !important;
		width: 300px !important;
	}
}
@media (max-width: 360px) {
	.margin-top {
		margin-top: 5rem !important;
	}
}
